<ul id="books">
<% @books.each do |book| %>
<p>
<li>
  <article class="book">
    <header>
      <%= image_for(book) %>
      <p>
        <p>
      <h2><%= link_to book.title, book %></h2>
    </header>
    <p>Description:
      <%= truncate(book.description, length: 150, separator: ' ') %>
    </p>
    <table>
      <tr>
        <th>Author:</th>
        <td><%= book.author %></td>
      </tr>
      <tr>
        <th>ISBN:</th>
        <td><%= book.isbn %></td>
      </tr>
      <tr>
        <th>Format:</th>
        <td><%= book.format %></td>
      </tr>
    </table>
    <p>
  </article>
  </li>
  <p>
<% end %>
