 <article>
    <header>
      <h2><%= @book.title %></h2>
      <h2><%= image_for(@book) %></h2>
    </header>
    <p>
      <%= @book.description %>
    </p>
    <table>
      <tr>
        <th>Author:</th>
        <td><%= @book.author %></td>
      </tr>
      <tr>
        <th>ISBN:</th>
        <td><%= @book.isbn %></td>
      </tr>
      <tr>
        <th>Format:</th>
        <td><%= @book.format %></td>
      </tr>
    </table>
  </article>
<p>
  <%= link_to "Edit", edit_book_path %> |
  <%= link_to "Delete", book_path(@book), method: :delete, data: { confirm: 'Are you sure?' } %>
